
<div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <ol class="breadcrumb pull-right">
                                        <li><a href="#">Minton</a></li>
                                        <li><a href="#">UI Kit</a></li>
                                        <li class="active">Buttons</li>
                                    </ol>
                                    <h4 class="page-title">Buttons</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Default Buttons</h4>
                                    <p class="text-muted m-b-25 font-13">Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

                                    <button type="button" class="btn btn-default waves-effect w-md m-b-5">Default</button>
                                    <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Primary</button>
                                    <button type="button" class="btn btn-success waves-effect w-md waves-light m-b-5">Success</button>
                                    <button type="button" class="btn btn-info waves-effect w-md waves-light m-b-5">Info</button>
                                    <button type="button" class="btn btn-warning waves-effect w-md waves-light m-b-5">Warning</button>
                                    <button type="button" class="btn btn-danger waves-effect w-md waves-light m-b-5">Danger</button>
                                    <button type="button" class="btn btn-inverse waves-effect w-md waves-light m-b-5">Inverse</button>
                                    <button type="button" class="btn btn-purple waves-effect w-md waves-light m-b-5">Purple</button>
                                    <button type="button" class="btn btn-pink waves-effect w-md waves-light m-b-5">Pink</button>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button-Rounded</h4>
                                    <p class="text-muted m-b-25 font-13">Add <code>.btn-rounded</code> to default button to get rounded corners.</p>

                                    <button type="button" class="btn btn-default btn-rounded w-md waves-effect m-b-5">Default</button>
                                    <button type="button" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">Primary</button>
                                    <button type="button" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">Success</button>
                                    <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5">Info</button>
                                    <button type="button" class="btn btn-warning btn-rounded w-md waves-effect waves-light m-b-5">Warning</button>
                                    <button type="button" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">Danger</button>
                                    <button type="button" class="btn btn-inverse btn-rounded w-md waves-effect waves-light m-b-5">Inverse</button>
                                    <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Purple</button>
                                    <button type="button" class="btn btn-pink btn-rounded w-md waves-effect waves-light m-b-5">Pink</button>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button-Custom</h4>
                                    <p class="text-muted m-b-25 font-13">Use a classes <code>.btn-custom</code> to quickly create a bordered buttons.</p>

                                    <button type="button" class="btn btn-default btn-custom waves-effect w-md m-b-5">Default</button>
                                    <button type="button" class="btn btn-primary btn-custom waves-effect w-md waves-light m-b-5">Primary</button>
                                    <button type="button" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">Success</button>
                                    <button type="button" class="btn btn-info btn-custom waves-effect w-md waves-light m-b-5">Info</button>
                                    <button type="button" class="btn btn-warning btn-custom waves-effect w-md waves-light m-b-5">Warning</button>
                                    <button type="button" class="btn btn-danger btn-custom waves-effect w-md waves-light m-b-5">Danger</button>
                                    <button type="button" class="btn btn-inverse btn-custom waves-effect w-md waves-light m-b-5">Inverse</button>
                                    <button type="button" class="btn btn-purple btn-custom waves-effect w-md waves-light m-b-5">Purple</button>
                                    <button type="button" class="btn btn-pink btn-custom waves-effect w-md waves-light m-b-5">Pink</button>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button-Width</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Create buttons with minimum width by adding add <code>.w-xs</code>, <code>.w-sm</code>, <code>.w-md</code> or <code>.w-lg</code>.
                                    </p>

                                    <button type="button" class="btn btn-primary waves-effect waves-light w-xs m-b-5">Xs</button>
                                    <button type="button" class="btn btn-purple waves-effect waves-light w-sm m-b-5">Small</button>
                                    <button type="button" class="btn btn-info waves-effect waves-light w-md m-b-5">Middle</button>
                                    <button type="button" class="btn btn-warning waves-effect waves-light w-lg m-b-5">Large</button>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button-Sizes</h4>
                                    <p class="text-muted m-b-25 font-13">
                                         Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.
                                    </p>

                                    <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">Large button</button>
                                    <button class="btn btn-danger waves-effect waves-light m-b-5">Normal button</button>
                                    <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Small button</button>
                                    <button class="btn btn-purple waves-effect waves-light btn-xs m-b-5">Extra small button</button>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button-Disabled</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons.
                                    </p>

                                    <button class="btn btn-info disabled m-b-5">Info</button>
                                    <button class="btn btn-purple disabled m-b-5">Purple</button>
                                    <button class="btn btn-pink disabled m-b-5">Pink</button>
                                    <button class="btn btn-inverse disabled m-b-5">Inverse</button>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Icon Button</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Icon only button.
                                    </p>

                                    <button class="btn btn-icon waves-effect btn-default m-b-5"> <i class="fa fa-heart-o"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-danger m-b-5"> <i class="fa fa-remove"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-purple m-b-5"> <i class="fa fa-music"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-primary m-b-5"> <i class="fa fa-star"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-success m-b-5"> <i class="fa fa-thumbs-o-up"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-info m-b-5"> <i class="fa fa-keyboard-o"></i> </button>
                                    <button class="btn btn-icon waves-effect waves-light btn-warning m-b-5"> <i class="fa fa-wrench"></i> </button>
                                    <br>
                                    <button class="btn btn-default waves-effect m-b-5"> <i class="fa fa-heart m-r-5"></i> <span>Like</span> </button>
                                    <button class="btn btn-inverse waves-effect waves-light m-b-5"> <i class="fa fa-envelope-o m-r-5"></i> <span>Share</span> </button>
                                    <button class="btn btn-warning waves-effect waves-light m-b-5"> <i class="fa fa-rocket m-r-5"></i> <span>Launch</span> </button>
                                    <button class="btn btn-info waves-effect waves-light m-b-5"> <i class="fa fa-cloud m-r-5"></i> <span>Cloud Hosting</span> </button>
                                    <button class="btn btn-pink waves-effect waves-light m-b-5"> <span>Book Flight</span> <i class="fa fa-plane m-l-5"></i> </button>
                                    <button class="btn btn-purple waves-effect waves-light m-b-5"> <span>Donate Money</span> <i class="fa fa-money m-l-5"></i> </button>

                                </div>

                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Block Button</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Create block level buttons,with by adding add <code>.btn-block</code>.
                                    </p>

                                    <button type="button" class="btn btn-block btn--md btn-pink waves-effect waves-light">Block Button</button>
                                    <button type="button" class="btn btn-block btn-sm btn-success waves-effect waves-light">Block Button</button>
                                    <button type="button" class="btn btn-block btn-xs btn-purple waves-effect waves-light">Block Button</button>

                                </div>

                            </div>
                            <!-- end col -->

                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Button Group</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.
                                    </p>


                                    <div class="btn-group m-b-10">
                                        <button type="button" class="btn btn-default waves-effect">Left</button>
                                        <button type="button" class="btn btn-default waves-effect">Middle</button>
                                        <button type="button" class="btn btn-default waves-effect">Right</button>
                                    </div>
                                    <br>
                                    <div class="btn-group btn-group-justified m-b-10">
                                        <a class="btn btn-primary waves-effect waves-light" role="button">Left</a>
                                        <a class="btn btn-warning waves-effect waves-light" role="button">Middle</a>
                                        <a class="btn btn-danger waves-effect waves-light" role="button">Right</a>
                                    </div>
                                    <div class="btn-group m-b-10">
                                       <button type="button" class="btn btn-default waves-effect">1</button>
                                       <button type="button" class="btn btn-default waves-effect">2</button>
                                       <button type="button" class="btn btn-inverse waves-effect waves-light">3</button>
                                       <button type="button" class="btn btn-default waves-effect">4</button>
                                    </div>
                                    <div class="btn-group m-b-10">
                                       <button type="button" class="btn btn-default waves-effect">5</button>
                                       <button type="button" class="btn btn-inverse waves-effect waves-light">6</button>
                                       <button type="button" class="btn btn-default waves-effect">7</button>
                                    </div>
                                    <div class="btn-group m-b-10">
                                       <button type="button" class="btn btn-default waves-effect">8</button>
                                    </div>
                                    <br>
                                    <div class="btn-group m-b-10">
                                        <button type="button" class="btn btn-default waves-effect">1</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light">2</button>
                                        <button type="button" class="btn btn-default waves-effect">3</button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"> Dropdown <span class="caret"></span> </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Dropdown link 1</a></li>
                                                <li><a href="#">Dropdown link 2</a></li>
                                                <li><a href="#">Dropdown link 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="btn-group-vertical m-b-10">
                                                <button type="button" class="btn btn-default waves-effect">Top</button>
                                                <button type="button" class="btn btn-default waves-effect">Middle</button>
                                                <button type="button" class="btn btn-default waves-effect">Bottom</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn-group-vertical m-b-10">
                                                <button type="button" class="btn btn-default waves-effect">Button 1</button>
                                                <button type="button" class="btn btn-default waves-effect">Button 2</button>
                                                <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"> Button 3 <span class="caret"></span> </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Dropdown link 1</a></li>
                                                    <li><a href="#">Dropdown link 2</a></li>
                                                    <li><a href="#">Dropdown link 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Dropdown</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Turn a button into a dropdown toggle with some basic markup changes.
                                    </p>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-pink dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-purple dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Split button dropdown</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Turn a button into a dropdown toggle with some basic markup changes.
                                    </p>

                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn btn-success waves-effect waves-light">Dropddown</button>
                                        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn btn-primary waves-effect waves-light">Dropddown</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn btn-default waves-effect waves-light">Dropddown</button>
                                        <button type="button" class="btn btn-default waves-light dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->


                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Dropup</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Dropdown menus can be changed to expand upwards (instead of downwards) by adding <code>.dropup</code> to the parent.
                                    </p>

                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdup <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-warning dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdup <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdup <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdup <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">File upload buttons</h4>
                                    <p class="text-muted m-b-25 font-13">
                                        Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.
                                    </p>

                                    <div class="fileupload btn btn-primary waves-effect waves-light">
                                        <span>Upload</span>
                                        <input type="file" class="upload">
                                    </div>
                                    <div class="fileupload btn btn-purple waves-effect waves-light">
                                        <span><i class="ion-upload m-r-5"></i>Upload</span>
                                        <input type="file" class="upload">
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- end container -->

                </div>
                <!-- end content -->



                <!-- FOOTER -->
                <footer class="footer text-right">
                    2016 © Minton.
                </footer>
                <!-- End FOOTER -->

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <div class="nicescroll">
                    <ul class="nav nav-tabs tabs">
                        <li class="active tab">
                            <a href="#home-2" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                <span class="hidden-xs">Activity</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">Chat</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#messages-2" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                <span class="hidden-xs">Settings</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-2">
                            <div class="timeline-2">
                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">5 minutes ago</small>
                                        <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">30 minutes ago</small>
                                        <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">59 minutes ago</small>
                                        <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">1 hour ago</small>
                                        <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">3 hours ago</small>
                                        <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">5 hours ago</small>
                                        <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="profile-2">
                            <div class="contact-list nicescroll">
                                <ul class="list-group contacts-list">
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-1.jpg" alt="">
                                            </div>
                                            <span class="name">Chadengle</span>
                                            <i class="fa fa-circle online"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-2.jpg" alt="">
                                            </div>
                                            <span class="name">Tomaslau</span>
                                            <i class="fa fa-circle online"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-3.jpg" alt="">
                                            </div>
                                            <span class="name">Stillnotdavid</span>
                                            <i class="fa fa-circle online"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-4.jpg" alt="">
                                            </div>
                                            <span class="name">Kurafire</span>
                                            <i class="fa fa-circle online"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-5.jpg" alt="">
                                            </div>
                                            <span class="name">Shahedk</span>
                                            <i class="fa fa-circle away"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-6.jpg" alt="">
                                            </div>
                                            <span class="name">Adhamdannaway</span>
                                            <i class="fa fa-circle away"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-7.jpg" alt="">
                                            </div>
                                            <span class="name">Ok</span>
                                            <i class="fa fa-circle away"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-8.jpg" alt="">
                                            </div>
                                            <span class="name">Arashasghari</span>
                                            <i class="fa fa-circle offline"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-9.jpg" alt="">
                                            </div>
                                            <span class="name">Joshaustin</span>
                                            <i class="fa fa-circle offline"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">
                                            <div class="avatar">
                                                <img src="assets/images/users/avatar-10.jpg" alt="">
                                            </div>
                                            <span class="name">Sortino</span>
                                            <i class="fa fa-circle offline"></i>
                                        </a>
                                        <span class="clearfix"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="messages-2">

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Notifications</h5>
                                    <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">API Access</h5>
                                    <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Auto Updates</h5>
                                    <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Online Status</h5>
                                    <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</div>