<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Minton</a></li>
                            <li><a href="#">UI Kit</a></li>
                            <li class="active">Progress Bars</li>
                        </ol>
                        <h4 class="page-title">Progress Bars</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="header-title m-t-0"><b>Basic example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Default progress bar.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress m-b-5">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 col-sm-offset-1">
                                <h4 class="header-title m-t-0"><b>Striped example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Uses a gradient to create a striped effect.Use class <code>.progress-bar-striped</code>.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-pink progress-bar-striped" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-purple progress-bar-striped" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress m-b-5">
                                    <div class="progress-bar progress-bar-inverse progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Row -->



            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="header-title m-t-0"><b>Sizes example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Use class <code>.progress-sm</code>,<code>.progress-md</code> and <code>.progress-lg</code>.
                                </p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                        <span class="sr-only">89% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                        <span class="sr-only">77% Complete</span>
                                    </div>
                                </div>
                                <div class="progress progress-md">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 col-sm-offset-1">
                                <h4 class="header-title m-t-0"><b>Animated example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Add <code>.active</code> to <code>.progress-bar-striped</code> to animate the stripes right to left.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-pink progress-bar-striped active" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress m-b-5">
                                    <div class="progress-bar progress-bar-purple progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Row -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="header-title m-t-0"><b>Completed example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Remove the <code>&lt;span&gt;</code> with <code>.sr-only</code> class from within the progress bar to show a visible percentage.
                                </p>
                                <div class="progress progress-md">
                                    <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                        85%
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;">
                                        56%
                                    </div>
                                </div>
                                <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                        96%
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 col-sm-offset-1">
                                <h4 class="header-title m-t-0"><b>Stacked example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Place multiple bars into the same <code>.progress</code> to stack them.
                                </p>
                                <div class="progress">
                                    <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                    <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;" class="progress-bar progress-bar-info"></div>
                                    <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;" class="progress-bar progress-bar-warning progress-bar-striped active"></div>
                                    <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Row -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="header-title m-t-0"><b>Animated example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Use class <code>.wow</code>,<code>.animated</code> and <code>.progress-animated</code>.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-pink wow animated progress-animated" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info wow animated progress-animated" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Complete</span>
                                    </div>
                                </div>
                                <div class="progress m-b-5">
                                    <div class="progress-bar progress-bar-purple wow animated progress-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 col-sm-offset-1">
                                <h4 class="header-title m-t-0"><b>Animated Striped example</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Use class <code>.wow</code>,<code>.animated</code>,<code>.progress-bar-striped</code> and <code>.progress-animated</code>.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped progress-animated wow animated" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                        <span class="sr-only">48% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped progress-animated wow animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-inverse progress-bar-striped progress-animated wow animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                                <div class="progress m-b-5">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped progress-animated wow animated" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%;">
                                        <span class="sr-only">81% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Row -->




        </div>
        <!-- end container -->

    </div>
    <!-- end content -->



    <!-- FOOTER -->
    <footer class="footer text-right">
        2016 © Minton.
    </footer>
    <!-- End FOOTER -->

</div>